<div class="panel">
        <div id="001" name="001" class="panel-header">
        	<span></span>
            <h4 class="ng-binding">工资单</h4>
        </div>
        <div class="panel-body">
        	<div class="body-title">
        		<!--<div>币种：<span>CNY</span></div>-->
        		<div class="ng-binding">汇率：<span class="ng-binding">1</span></div>
        		<div class="ng-binding">发薪年月：<span class="ng-binding">201810</span></div>
        		<div ng-show="comeItemDate.payrollPaymentMap.country != ''&amp;&amp;comeItemDate.payrollPaymentMap.country != null" class="ng-binding ng-hide">发薪国家：<span class="ng-binding"></span></div>
        	</div>
        	<div class="body-table">
        		<table width="100%" border="0" cellpadding="0" cellspacing="0">
        			<tbody><tr class="tableBack-color">
        				<td width="50%" colspan="2" align="center" class="ng-binding">收入项（CNY）</td>
        				<td width="50%" colspan="2" align="center" style="border-left: 1px solid #dddddd;" class="ng-binding">扣减项（CNY）</td>
        			</tr>
        			<!-- ngRepeat: inOutComeItem in comeItemDate.inOutComeItems --><tr ng-repeat="inOutComeItem in comeItemDate.inOutComeItems" class="ng-scope" style="">
        				<td>
                                              <span class="ng-binding">标准工资</span>
                                                    <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.inCome.name != '' &amp;&amp; (inOutComeItem.inCome.inReamrk != null || inOutComeItem.inCome.inEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.inCome.inReamrk,inOutComeItem.inCome.inEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">32000</td>
        				<td>
                                            <span class="ng-binding">个人交养老险</span>
                                            <!--<img height="20" width="20" ng-show="(inOutComeItem.outCome.name != '' && (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchReamrk(inOutComeItem.outCome.ouReamrk)" id="ou_t2" src="images/help.png"/>-->
                                            <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.outCome.name != '' &amp;&amp; (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.outCome.ouReamrk,inOutComeItem.outCome.ouEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">2032.08</td>
        			</tr><!-- end ngRepeat: inOutComeItem in comeItemDate.inOutComeItems --><tr ng-repeat="inOutComeItem in comeItemDate.inOutComeItems" class="ng-scope">
        				<td>
                                              <span class="ng-binding">新员工入职补发</span>
                                                    <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.inCome.name != '' &amp;&amp; (inOutComeItem.inCome.inReamrk != null || inOutComeItem.inCome.inEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.inCome.inReamrk,inOutComeItem.inCome.inEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">17454.55</td>
        				<td>
                                            <span class="ng-binding">个人交医疗险</span>
                                            <!--<img height="20" width="20" ng-show="(inOutComeItem.outCome.name != '' && (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchReamrk(inOutComeItem.outCome.ouReamrk)" id="ou_t2" src="images/help.png"/>-->
                                            <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.outCome.name != '' &amp;&amp; (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.outCome.ouReamrk,inOutComeItem.outCome.ouEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">511.02</td>
        			</tr><!-- end ngRepeat: inOutComeItem in comeItemDate.inOutComeItems --><tr ng-repeat="inOutComeItem in comeItemDate.inOutComeItems" class="ng-scope">
        				<td>
                                              <span class="ng-binding"></span>
                                                    <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.inCome.name != '' &amp;&amp; (inOutComeItem.inCome.inReamrk != null || inOutComeItem.inCome.inEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.inCome.inReamrk,inOutComeItem.inCome.inEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding"></td>
        				<td>
                                            <span class="ng-binding">个人交失业险</span>
                                            <!--<img height="20" width="20" ng-show="(inOutComeItem.outCome.name != '' && (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchReamrk(inOutComeItem.outCome.ouReamrk)" id="ou_t2" src="images/help.png"/>-->
                                            <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.outCome.name != '' &amp;&amp; (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.outCome.ouReamrk,inOutComeItem.outCome.ouEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">50.8</td>
        			</tr><!-- end ngRepeat: inOutComeItem in comeItemDate.inOutComeItems --><tr ng-repeat="inOutComeItem in comeItemDate.inOutComeItems" class="ng-scope">
        				<td>
                                              <span class="ng-binding"></span>
                                                    <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.inCome.name != '' &amp;&amp; (inOutComeItem.inCome.inReamrk != null || inOutComeItem.inCome.inEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.inCome.inReamrk,inOutComeItem.inCome.inEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding"></td>
        				<td>
                                            <span class="ng-binding">个人交住房金</span>
                                            <!--<img height="20" width="20" ng-show="(inOutComeItem.outCome.name != '' && (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchReamrk(inOutComeItem.outCome.ouReamrk)" id="ou_t2" src="images/help.png"/>-->
                                            <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.outCome.name != '' &amp;&amp; (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.outCome.ouReamrk,inOutComeItem.outCome.ouEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">1270</td>
        			</tr><!-- end ngRepeat: inOutComeItem in comeItemDate.inOutComeItems --><tr ng-repeat="inOutComeItem in comeItemDate.inOutComeItems" class="ng-scope">
        				<td>
                                              <span class="ng-binding"></span>
                                                    <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.inCome.name != '' &amp;&amp; (inOutComeItem.inCome.inReamrk != null || inOutComeItem.inCome.inEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.inCome.inReamrk,inOutComeItem.inCome.inEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding"></td>
        				<td>
                                            <span class="ng-binding">扣个人所得税</span>
                                            <!--<img height="20" width="20" ng-show="(inOutComeItem.outCome.name != '' && (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchReamrk(inOutComeItem.outCome.ouReamrk)" id="ou_t2" src="images/help.png"/>-->
                                            <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.outCome.name != '' &amp;&amp; (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.outCome.ouReamrk,inOutComeItem.outCome.ouEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">3217.22</td>
        			</tr><!-- end ngRepeat: inOutComeItem in comeItemDate.inOutComeItems --><tr ng-repeat="inOutComeItem in comeItemDate.inOutComeItems" class="ng-scope">
        				<td>
                                              <span class="ng-binding"></span>
                                                    <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.inCome.name != '' &amp;&amp; (inOutComeItem.inCome.inReamrk != null || inOutComeItem.inCome.inEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.inCome.inReamrk,inOutComeItem.inCome.inEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding"></td>
        				<td>
                                            <span class="ng-binding">新员工入职补发税</span>
                                            <!--<img height="20" width="20" ng-show="(inOutComeItem.outCome.name != '' && (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchReamrk(inOutComeItem.outCome.ouReamrk)" id="ou_t2" src="images/help.png"/>-->
                                            <img style="font-size: 5px;vertical-align: middle;" height="16" width="16" name="showRemarkImg" ng-show="(inOutComeItem.outCome.name != '' &amp;&amp; (inOutComeItem.outCome.ouReamrk != null || inOutComeItem.outCome.ouEntryReamrk != null))" ng-click="_searchRemark(inOutComeItem.outCome.ouReamrk,inOutComeItem.outCome.ouEntryReamrk)" src="images/help.png" class="ng-hide">
                                        </td>
        				<td align="right" class="color ng-binding">2483.64</td>
        			</tr><!-- end ngRepeat: inOutComeItem in comeItemDate.inOutComeItems -->
        			<tr ng-show="(comeItemDate.payrollPaymentMap.inComeTotal != ''&amp;&amp;comeItemDate.payrollPaymentMap.inComeTotal != '0')||(comeItemDate.payrollPaymentMap.outComeTotal != ''&amp;&amp;comeItemDate.payrollPaymentMap.outComeTotal != '0')" class="">

        				<td class="ng-binding">收入项小计</td>
        				<td align="right" class="color ng-binding">49454.55</td>
        				<td class="ng-binding">扣款项小计</td>
        				<td align="right" class="color ng-binding">9564.76</td>
        			</tr>
                               <tr ng-show="((comeItemDate.payrollPaymentMap.inComeTotal != ''&amp;&amp;comeItemDate.payrollPaymentMap.inComeTotal != '0')||(comeItemDate.payrollPaymentMap.outComeTotal != ''&amp;&amp;comeItemDate.payrollPaymentMap.outComeTotal != '0'))
                               &amp;&amp;((comeItemDate.payrollPaymentMap.overseabastup!='0'&amp;&amp;comeItemDate.payrollPaymentMap.overseabastup!=null&amp;&amp;comeItemDate.payrollPaymentMap.overseabastup!='')||(comeItemDate.payrollPaymentMap.overseabastup2!='0'&amp;&amp;comeItemDate.payrollPaymentMap.overseabastup2!=null&amp;&amp;comeItemDate.payrollPaymentMap.overseabastup2!=''))" class="ng-hide">

					<td colspan="2" class="ng-binding">发放金额小计</td>
        				<td align="right" class="color ng-binding" colspan="2">
        					39889.79
        				</td>
        				
        			</tr>
                                     <tr ng-show="(comeItemDate.payrollPaymentMap.overseabastup != ''&amp;&amp;comeItemDate.payrollPaymentMap.overseabastup != '0'&amp;&amp;comeItemDate.payrollPaymentMap.overseabastup != null)" class="ng-hide">

					<td colspan="2" class="ng-binding">海外分摊奖金/TUP退回中国发放</td>
        				<td align="right" class="color ng-binding" colspan="2">
        					0
        				</td>
        				
        			</tr>
                               <!-- ngRepeat: otherItem in comeItemDate.otherList -->
                                    <tr ng-show="comeItemDate.payrollPaymentMap.payroll_id=='61'" class="" style="">

					<td colspan="2" class="ng-binding">发放总额</td>
        				<td align="right" class="color ng-binding" colspan="2">
        					39889.79 
        				</td>
        				
        			</tr> 
                                <!--当“HWJS海外发薪模式”  '新/全额固定'  '旧/全额' 时-->
        			<tr ng-show="comeItemDate.payrollPaymentMap.payroll_id=='61' &amp;&amp; (comeItemDate.payrollPaymentMap.overseaSalaryModel=='新/全额固定' || comeItemDate.payrollPaymentMap.overseaSalaryModel=='旧/全额')
                                 &amp;&amp;comeItemDate.payrollPaymentMap.payRMB2!='0' &amp;&amp;comeItemDate.payrollPaymentMap.payRMB2!=null &amp;&amp; comeItemDate.payrollPaymentMap.payRMB2!=''" class="ng-hide">
        				<td colspan="2" height="54"> <span style="padding-left:15px;" class="ng-binding">中国发放金额</span></td>
        				<td align="right" class="color ng-binding" colspan="2" height="54">
        					0
        				</td>
        			</tr> 
                                <tr ng-show="comeItemDate.payrollPaymentMap.payroll_id=='61' &amp;&amp; (comeItemDate.payrollPaymentMap.overseaSalaryModel!='新/全额固定' &amp;&amp; comeItemDate.payrollPaymentMap.overseaSalaryModel!='旧/全额')
                                    &amp;&amp;comeItemDate.payrollPaymentMap.payRMB!='0' &amp;&amp;comeItemDate.payrollPaymentMap.payRMB!=null &amp;&amp; comeItemDate.payrollPaymentMap.payRMB!=''" class="">
        				<td colspan="2"> <span style="padding-left:15px;" class="ng-binding">中国发放金额</span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					39889.79
        				</td>
        			</tr> 
					<tr ng-show="comeItemDate.payrollPaymentMap.salarybank != ''&amp;&amp;comeItemDate.payrollPaymentMap.salarybank != '0'" class="">
        				<td colspan="2"> <span style="padding-left:35px;"> <i class="ng-binding">--工资卡实发CNY</i></span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					39889.79
        				</td>
        			</tr>
					<tr ng-show="comeItemDate.payrollPaymentMap.foreigncurrency != ''&amp;&amp; comeItemDate.payrollPaymentMap.foreigncurrency != '0'" class="ng-hide" style="">
        				<td colspan="2">  <span style="padding-left:35px;"> <i class="ng-binding">--工资卡实发外币</i></span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					0
        				</td>
        			</tr>
					<tr ng-show="comeItemDate.payrollPaymentMap.allowancebank != '' &amp;&amp;comeItemDate.payrollPaymentMap.allowancebank != '0'" class="ng-hide">
        				<td colspan="2"> <span style="padding-left:35px;"> <i class="ng-binding">--补助卡实发</i></span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					
        				</td>
        			</tr>
					<tr ng-show="comeItemDate.payrollPaymentMap.internalaccount != ''&amp;&amp;comeItemDate.payrollPaymentMap.internalaccount != '0'" class="ng-hide">
        				<td colspan="2"> <span style="padding-left:35px;"> <i class="ng-binding">--内部卡实发</i></span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					0
        				</td>
        			</tr>
                                
                    <tr ng-show="(comeItemDate.payrollPaymentMap.salaryOverseas != ''&amp;&amp;comeItemDate.payrollPaymentMap.salaryOverseas != '0')||
                              (comeItemDate.payrollPaymentMap.salaryOverseasBasTUP != ''&amp;&amp;comeItemDate.payrollPaymentMap.salaryOverseasBasTUP != '0')" class="ng-hide">

						<td colspan="2"><span style="padding-left:15px;" class="ng-binding">海外发放金额</span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					0
        				</td>
       				
        			</tr>   
        			<tr ng-show="comeItemDate.payrollPaymentMap.salaryOverseas != '' &amp;&amp;comeItemDate.payrollPaymentMap.salaryOverseas != '0' &amp;&amp; 
                                (comeItemDate.payrollPaymentMap.overseaSalaryModel=='新/全额固定' || comeItemDate.payrollPaymentMap.overseaSalaryModel=='旧/全额')" class="ng-hide">
        				<td colspan="2"><span style="padding-left:35px;"><i class="ng-binding">--海外工资</i></span></td>
        				<td align="right" class="color ng-binding" colspan="2">
        					0
        				</td>
        			</tr>
        			<tr ng-show="comeItemDate.payrollPaymentMap.salaryOverseasBasTUP != ''
                                     &amp;&amp;comeItemDate.payrollPaymentMap.salaryOverseasBasTUP != '0'&amp;&amp;
                                   comeItemDate.payrollPaymentMap.salaryOverseasBasTUP != null" class="ng-hide">
        				<td colspan="2">
                                        <span style="padding-left:35px;"><i class="ng-binding">--海外发放奖金&amp;TUP收益（随工资计税）</i></span>

                                       </td>
        				<td align="right" class="color ng-binding" colspan="2">
        					0
        				</td>
        			</tr>
        		</tbody></table>
        	</div>
        </div>
    </div>
